### Lending Club Case Study

In [212]:
import pandas as pd,numpy as np

In [213]:
#to display the entire dataframe 
pd.set_option("display.max.columns", None)

In [214]:
loan=pd.read_csv("loan.csv")
loan.shape

(39717, 111)

In [215]:
loan.head(6)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,NaN,NaN,3,0,13648,83.70%,9,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0,Apr-99,5,NaN,NaN,3,0,1687,9.40%,4,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,NaN,NaN,2,0,2956,98.50%,10,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0,Feb-96,1,35.0,NaN,10,0,5598,21%,37,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-15,357.48,NaN,Apr-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://lendingclub.com/browse/loanDetail.acti...,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0,Jan-96,0,38.0,NaN,15,0,27783,53.90%,38,f,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,0.00,0.00,0.00,May-16,67.79,Jun-16,May-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
5,1075269,1311441,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,Nov-04,3,NaN,NaN,9,0,7963,28.30%,12,f,0.00,0.00,5632.210000,5632.21,5000.00,632.21,0.00,0.00,0.00,Jan-15,161.03,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [216]:
cols=loan.columns
cols

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [217]:
# [print(x) for x in cols]

In [218]:
#function to find missing Value
def missing_data(loan):
    total = loan.isnull().sum()
    percent = round(100*(loan.isnull().sum()/len(loan.index)), 2)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [219]:
 missing_data(loan)

                                Total  Percent
id                                  0     0.00
member_id                           0     0.00
loan_amnt                           0     0.00
funded_amnt                         0     0.00
funded_amnt_inv                     0     0.00
term                                0     0.00
int_rate                            0     0.00
installment                         0     0.00
grade                               0     0.00
sub_grade                           0     0.00
emp_title                        2459     6.19
emp_length                       1075     2.71
home_ownership                      0     0.00
annual_inc                          0     0.00
verification_status                 0     0.00
issue_d                             0     0.00
loan_status                         0     0.00
pymnt_plan                          0     0.00
url                                 0     0.00
desc                            12940    32.58
purpose                             0     0.00
title                              11     0.03
zip_code                            0     0.00
addr_state                          0     0.00
dti                                 0     0.00
delinq_2yrs                         0     0.00
earliest_cr_line                    0     0.00
inq_last_6mths                      0     0.00
mths_since_last_delinq          25682    64.66
mths_since_last_record          36931    92.99
...                               ...      ...
mo_sin_old_rev_tl_op            39717   100.00
mo_sin_rcnt_rev_tl_op           39717   100.00
mo_sin_rcnt_tl                  39717   100.00
mort_acc                        39717   100.00
mths_since_recent_bc            39717   100.00
mths_since_recent_bc_dlq        39717   100.00
mths_since_recent_inq           39717   100.00
mths_since_recent_revol_delinq  39717   100.00
num_accts_ever_120_pd           39717   100.00
num_actv_bc_tl                  39717   100.00
num_actv_rev_tl                 39717   100.00
num_bc_sats                     39717   100.00
num_bc_tl                       39717   100.00
num_il_tl                       39717   100.00
num_op_rev_tl                   39717   100.00
num_rev_accts                   39717   100.00
num_rev_tl_bal_gt_0             39717   100.00
num_sats                        39717   100.00
num_tl_120dpd_2m                39717   100.00
num_tl_30dpd                    39717   100.00
num_tl_90g_dpd_24m              39717   100.00
num_tl_op_past_12m              39717   100.00
pct_tl_nvr_dlq                  39717   100.00
percent_bc_gt_75                39717   100.00
pub_rec_bankruptcies              697     1.75
tax_liens                          39     0.10
tot_hi_cred_lim                 39717   100.00
total_bal_ex_mort               39717   100.00
total_bc_limit                  39717   100.00
total_il_high_credit_limit      39717   100.00

[111 rows x 2 columns]

dropping columns having more than 30 percent of missing values

In [220]:
max_number_of_nas = 12940
loan = loan.loc[:, (loan.isnull().sum() < max_number_of_nas)]
print(loan.shape)

(39717, 53)

Deletion of irrelevant data

In [221]:
## can drop below columns as all values are 0 and null values
loan['collections_12_mths_ex_med'].value_counts()
loan['chargeoff_within_12_mths'].value_counts()
loan['recoveries'].value_counts()
loan['collection_recovery_fee'].value_counts()

print(loan['id'].duplicated().any())
print(loan['member_id'].duplicated().any())
print(loan['url'].duplicated().any())
print(loan['pymnt_plan'].duplicated().any(),loan['pymnt_plan'].unique())
print(loan['initial_list_status'].duplicated().any(),loan['initial_list_status'].unique())
print(loan['application_type'].duplicated().any(),loan['application_type'].unique())
print(loan['chargeoff_within_12_mths'].duplicated().any(),loan['chargeoff_within_12_mths'].unique())
print(loan['tax_liens'].duplicated().any(),loan['tax_liens'].unique())


# ----to be checked to delete  
# 'funded_amnt', 'funded_amnt_inv', 'sub_grade', 'out_prncp', 'out_prncp_inv' 
#total_pymnt', 'total_pymnt_inv','total_rec_prncp', 'total_rec_int', '
#'last_pymnt_d', 'last_pymnt_amnt' 

                                          
loan=loan.drop(columns=['id','member_id','url','pymnt_plan','initial_list_status'])
loan=loan.drop(columns=['application_type','chargeoff_within_12_mths','tax_liens','collection_recovery_fee','total_rec_late_fee'])
loan=loan.drop(columns=['collections_12_mths_ex_med','emp_title'])
loan=loan.drop(columns=['title','zip_code','addr_state','policy_code','recoveries'])

False
False
False
True ['n']
True ['f']
True ['INDIVIDUAL']
True [ 0. nan]
True [ 0. nan]

In [222]:
missing_data(loan)
loan.shape

(39717, 36)

In [223]:
loan['revol_util'].value_counts()
loan['pub_rec_bankruptcies'].value_counts()
loan['last_credit_pull_d'].value_counts()
loan['last_pymnt_d'].value_counts()
loan['emp_length'].value_counts()

10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: emp_length, dtype: int64

In [224]:
missing_data(loan)
loan.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,purpose,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,acc_now_delinq,delinq_amnt,pub_rec_bankruptcies
0,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,credit_card,27.65,0,Jan-85,1,3,0,13648,83.70%,9,0.00,0.00,5863.155187,5833.84,5000.00,863.16,Jan-15,171.62,May-16,0,0,0.0
1,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,car,1.00,0,Apr-99,5,3,0,1687,9.40%,4,0.00,0.00,1008.710000,1008.71,456.46,435.17,Apr-13,119.66,Sep-13,0,0,0.0
2,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,small_business,8.72,0,Nov-01,2,2,0,2956,98.50%,10,0.00,0.00,3005.666844,3005.67,2400.00,605.67,Jun-14,649.91,May-16,0,0,0.0
3,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,other,20.00,0,Feb-96,1,10,0,5598,21%,37,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,Jan-15,357.48,Apr-16,0,0,0.0
4,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,1 year,RENT,80000.0,Source Verified,Dec-11,Current,other,17.94,0,Jan-96,0,15,0,27783,53.90%,38,524.06,524.06,3513.330000,3513.33,2475.94,1037.39,May-16,67.79,May-16,0,0,0.0

In [225]:
# x=loan.loc[loan.loan_amnt>(loan.funded_amnt)]
# x.head()
# x.shape